.page-item
    &:focus
        outline: none
.page-item .page-link
    color: palevioletred
    &:hover
        color: palevioletred
.page-item.active .page-link
    background-color: palevioletred!important
    border: palevioletred!important