.question
    display: flex
    flex-direction: row
    padding: 100px
    justify-content: space-around
    align-items: center
    .question_image
        height: 300px
        width: 500px
        